@import "../../../sass/variables";

.nav {
  height: 100%;
  margin-top: 32px;
  width: 268px;

  &-item {
    align-items: center;
    display: flex;
    flex-flow: wrap row;
    min-height: 60px;
    padding: 8px;
    position: relative;
    cursor: pointer;

    img {
      width: 44px;
      height: 44px;
    }

    h2 {
      color: $color-clear;
      margin: 0;
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      padding: 0 8px;
    }

    &:hover {
      h2 { color: white };
    }

    .active:nth-of-type(1) {
      background-color: white;
      position: absolute;
      top: 0;
      bottom: 0;
      left: -16px;
      width: 5px;
    }

    .active:nth-of-type(2) {
      background: linear-gradient(90deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 35%);
      position: absolute;
      top: 0;
      bottom: 0;
      height: 60px;
      left: -16px;
      width: 100%;
    }

    &-children {
      display: block;
      color: $color-clear;
      width: 100%;
      font-size: 14px;

      h3 {
        align-items: center;
        display: flex;
        height: 48px;
        font-weight: 600;
        margin: 0 0 0 64px;
        padding: 0;
        text-transform: uppercase;
        width: calc(100% - 64px);

        &:hover {
          color: white;
        }
      }
    }
  }
}