.nav {
  height: 100%;
  margin-top: 32px;
  width: 268px;

  &-item {
    align-items: center;
    display: flex;
    flex-flow: wrap row;
    min-height: 60px;
    padding: 8px;

    img {
      width: 44px;
      height: 44px;
    }

    h2 {
      color: white;
      margin: 0;
      font-size: 18px;
      font-weight: bold;
      text-transform: uppercase;
      padding: 0 8px;
    }

    &-children {
      display: block;
      color: white;
      width: 100%;
      font-size: 14px;
      font-weight: normal;

      h3 {
        align-items: center;
        display: flex;
        height: 48px;
        margin: 0 0 0 64px;
        padding: 0;
        text-transform: uppercase;
      }
    }
  }
}