@import "../../../sass/variables";

.sidebar {
  background: linear-gradient(180deg, $color-primary 15%, #E66B48 115%);
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 8px 16px;
  position: fixed;
  width: $size-sidebar-width;
  z-index: $z-index-sidebar;

  &-logo {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 96px;
    width: 268px;

    img {
      height: 80px;
    }
  }
}
