// Color Definitions
$color-primary: #ED9262;
$color-secundary: #E66B48;

$color-contrast-dark: #004751;
$color-contrast-medium: #067A7C;
$color-contrast-light: #1FB0B3;
$color-clear: #F8F4F4;

$color-error: #F54B5E;
$color-warn: #F8C51C;
$color-success: #48D2A0;