@import "../../../sass/variables";

.card {
  background-color: white;
  border-radius: 2px;
  box-shadow: $whiteframe-shadow-1dp;
  flex: 1 100%;
  margin: 8px;
  position: relative;
  padding: 16px;
}