@import "../../../sass/variables";

.content {
  background-color: $color-clear;
  display: flex;
  flex: 1 100%;
  flex-wrap: wrap;
  min-height: calc(100vh - #{$size-header-height});
  margin-left: $size-sidebar-width;
  margin-top: $size-header-height;
  padding: 8px;
  position: relative;
  z-index: $z-index-content;
}

.header-backdrop {
  background-color: $color-primary;
  height: 48px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}