@import "../../../sass/variables";

.header {
  background-color: $color-primary;
  display: flex;
  flex-direction: row;
  height: $size-header-height;
  margin-left: $size-sidebar-width;
  padding: 8px 16px;
  position: fixed;
  width: calc(100% - #{$size-sidebar-width});
  z-index: $z-index-header;

  &-search {
    border: 1px solid white;
    flex: 1 25%;
    height: 48px;
  }

  &-button {
    border: 1px solid white;
    height: 48px;
    margin: 0 8px;
    width: 48px;
  }
}