.user-profile {
  height: 48px;
  margin-left: 8px;
  width: 250px;
  display: flex;
  flex-flow: nowrap row-reverse;

  img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }

  & > div {
    text-align: right;
    color: white;
    margin-right: 16px;
    display: flex;
    flex-flow: nowrap column;
    justify-content: center;

    h3 {
      margin: 0;
      padding: 0;
      font-size: 18px;
      font-weight: 700;
    }

    h4 {
      margin: 0;
      padding: 0;
      font-size: 14px;
      font-weight: 400;
    }
  }
}